 .viewSpec{
    padding: 20px;
}

.viewSpec span{
    padding: 10px;
    margin: 10px;
    background: whitesmoke;
}

.product-large-image{
    height: 75px !important;
    width: auto !important;
}

.product-result{
    height: auto !important;
}

.productImg:hover{
   transform:rotate(5deg) scale(1.2);
   -ms-transform:rotate(5deg) scale(1.2); /* IE 9 */
   -moz-transform:rotate(5deg) scale(1.2); /* Firefox */
   -webkit-transform:rotate(5deg) scale(1.2); /* Safari and Chrome */
   -o-transform:rotate(5deg) scale(1.2); /* Opera */
}

#results-panel{
    padding: 10px;
}

.result-img{
    border: 1px solid #E0E0E0 !important;
}

.search-result .twelve{
    text-align: center !important;
}

.search-result .twelve img{
    padding: 20px;
}

.result-name{
    background-color: #E0E0E0;
    margin: 1px;
    color:black;
}

.result-name:hover{
    color:#2BA6CB;
}

.contain-to-grid, .top-bar{
    background: -webkit-linear-gradient(top, #434343 0%,#2F2F2F 70%);
    background: -o-linear-gradient(top, #434343 0%,#2F2F2F 70%);
    background: -ms-linear-gradient(top, #434343 0%,#2F2F2F 70%);
    background: linear-gradient(top, #434343 0%,#2F2F2F 70%);

    background-color: black;
}

.profile-thumb{
    position: relative;
    top: 7px;
}

.profile-name{
    position: relative;
    top: -2px;
    left: 7px;
}

.logo{
    position: relative;
    top: 10px;
    font-size: 55px !important;
    font-family: 'Grand Hotel', cursive;
    transform: rotate(-5deg);
    -ms-transform: rotate(-5deg); /* IE 9 */
    -webkit-transform: rotate(-5deg); /* Safari and Chrome */
    -o-transform: rotate(-5deg); /* Opera */
    -moz-transform: rotate(-5deg); /* Firefox */
    letter-spacing:0px;
    text-shadow: 2px 2px 0 #000;
    color: #2BA6CB !important;
}

@-webkit-keyframes wiggle {
   0% {
     -webkit-transform: rotate3d(0,0,0,0deg)
 }

 25% {
     -webkit-transform: rotate3d(0,0,0,10deg)
 }

 75% {
     -webkit-transform: rotate3d(0,0,0,-10deg)
 }

 100% {
     -webkit-transform: rotate3d(0,0,0,0deg)
 }
}

@-moz-keyframes wiggle {
   0% {
     -moz-transform: rotate(0deg)
 }

 25% {
     -moz-transform: rotate(10deg)
 }

 75% {
     -moz-transform: rotate(-10deg)
 }

 100% {
     -moz-transform: rotate(0deg)
 }
}

.logo-png:hover, .mobile-logo-png:hover {
   -webkit-animation: wiggle .5s ease-in-out alternate;
   -moz-animation: wiggle .5s ease-in-out alternate;
   -ms-animation: wiggle .5s ease-in-out alternate;
}

.logo:hover{
    transform:rotate(3deg) scale(0.9);
    -ms-transform:rotate(3deg) scale(0.9); /* IE 9 */
    -moz-transform:rotate(3deg) scale(0.9); /* Firefox */
    -webkit-transform:rotate(3deg) scale(0.9); /* Safari and Chrome */
    -o-transform:rotate(3deg) scale(0.9); /* Opera */
}

.logo-png{
    width:125px;
}

.mobile-logo-png{
    height: 45px;
    width: 45px;
}

body, h1, h2, h3, h4, h5, a{
    font-family: 'Varela', sans-serif;
}

body{
    background: url('/assets/images/bg-light.png') repeat; 
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}

.row{
    background: white;
}

.twelve{
    border-left: 1px solid #E0E0E0 !important;
    border-right: 1px solid #E0E0E0 !important;
}

.last-column{
    border-bottom: 1px solid #E0E0E0 !important;
}

.specs-option div:nth-child(n+1){
    line-height: 25px;
}
.specs-option{
    border-bottom: 1px solid whitesmoke;
}

.specs-feature div{
    background: -webkit-linear-gradient(top, #E0E0E0 0%,whitesmoke 70%);
    background: -o-linear-gradient(top, #E0E0E0 0%,whitesmoke 70%);
    background: -ms-linear-gradient(top, #E0E0E0 0%,whitesmoke 70%);
    background: linear-gradient(top, #E0E0E0 0%,whitesmoke 70%);
    height:45px !important;
    border: 0px !important;
    background-color: #E0E0E0 !important;
}

.product-compare{
    line-height: 40px;
    font-size: 16px;
}

.product-compare .four{
    margin:0px;
    padding:0px;
    text-align: center;
}

.spec-row{
    border-bottom: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
}

.product-compare .four div{
    padding:5px;
}

.product-compare .row .four:first-child{
    text-align: left !important;
} 

.feature-compare{
    background: -webkit-linear-gradient(top, #E0E0E0 0%,whitesmoke 70%);
    background: -o-linear-gradient(top, #E0E0E0 0%,whitesmoke 70%);
    background: -ms-linear-gradient(top, #E0E0E0 0%,whitesmoke 70%);
    background: linear-gradient(top, #E0E0E0 0%,whitesmoke 70%);
    border: 0px !important;
    background-color: #E0E0E0 !important;
}

select{
 background: transparent;
 height: 32px;
 font-size: 14px;
}

.twitter{
    position:relative;
    top: 6px;
    left:20px;
}

.ui-autocomplete{
    z-index: 2;
}
.button{
    z-index: 1;
}
.fb-like{
    position:relative;
    top:2px;
    margin-left:20px;
}

.twitter-share-button{
    position: relative;
    top:6px;
    left:5px;
}

h1 b{
    background-color: yellow;
}

h1 a{
    text-decoration:underline;
}

.g-plusone-div{
    position:relative;
    top:6px;
    left:25px;
}
