/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
   ----------------------------------------- */
/*   body {
   	background-color: Azure;
      }*/

 /*  #customDropdown{
   	height:32px;
   	line-height:32px;
   	background-repeat:no-repeat;
      }*/
      .columns{
         /*border: 1px gray solid;*/
      }

      .row{
         /*background-color: whitesmoke;*/
      }
      li{
         /*border: 1px gray solid;*/
      }
 /*  .search-result{
      border: 1px gray solid;
      padding: 20px;
      }*/

/*      select{
         background: transparent;
         height: 32px;
      }
      #thumb{
         border: 3px #2BA6CB solid;
      }
      .specBorder{
         border: 3px #2BA6CB solid;
         }*/
         .product-div:hover{
            background-color: #B8B8B8;
            color: black;
         }

         .viewSpec{
            padding: 20px;
            /*margin:20px;*/
         }

         .viewSpec span{
            padding: 10px;
            margin: 10px;
            background: whitesmoke;
         }

         #topbar{
            /*background-color: black;*/
         }

         .productImg{
            max-width: 100px;
            max-height: 100px; 
         }

         .profile-thumb{
            position: relative;
            top: 8px;
         }


/* -----------------------------------------
   Page Name 1
   ----------------------------------------- */




/* -----------------------------------------
   Page Name 2
   ----------------------------------------- */


