/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
   ----------------------------------------- */
/*   body {
   	background-color: whitesmoke;
   }*/

 /*  #customDropdown{
   	height:32px;
   	line-height:32px;
   	background-repeat:no-repeat;
   }*/
  .columns{
      /*border: 1px gray solid;*/
   }

   .row{
      /*background-color: whitesmoke;*/
   }


/* -----------------------------------------
   Page Name 1
   ----------------------------------------- */




/* -----------------------------------------
   Page Name 2
   ----------------------------------------- */


